<div class="page-header">
      <h1>News</h1>
</div>
<h5>Yano 1.0.14.0 (RC1)</h5>
<h6>24/06/2012</h6>
<p>
  Yano Release Candidate 1 is available. This is a stabilization release.<br>
  &rarr;<a href="/Yano">Details</a><br>
  &rarr;<a href="/Download">Download</a>
</p>
<h5>Yano 1.0.13.0 (RC0)</h5>
<h6>28/04/2012</h6>
<p>Yano Release Candidate 0 is available! The simplest and fastest .NET obfuscator is ready for production use.</p>
<h5>Yano 1.0.12.0 (Beta 3)</h5>
<h6>24/11/2011</h6>
<p>The 3rd Beta build of Yano is available. It features parallel build (experimental feature) and stability improvements.</p>
<h5>Yano 1.0.11.0 (Beta 2)</h5>
<h6>01/10/2011</h6>
<p>The second Beta build of Yano is available. It features an advanced post-obfuscation verification algorithm.</p>
<h5>Yano 1.0.10.0 (Beta 1)</h5>
<h6>17/07/2011</h6>
<p>The first Beta build of Yano is available. It features out-of-the-box rules and stability improvements.</p>
